<div class="mainbox">
    <div class="heading">
        &#9410; Medicare
    </div>
</div>
    <div>
        <div class="box">
            <h3>YOUR ORDER HAS BEEN RECEIVED</h3>
            <h5>Your Order# {{orderno}} </h5>
            <h6>Order details are sent to the registered email address.</h6>
            
            <div class="box2">
                <div class="circle">
                    <i class="bi bi-check"></i>
                </div>
            </div>
            <button type="button" routerLink="/userHome" class="btn">Continue</button>
            
        </div>
    </div>
    